<% @posts.reverse.each do |post| %>
<div>
 <h3><%= link_to post.title, post %></h3>
 <p><%= post.body%></p>
 <small><%= post.created_at.strftime("Created at: %a %F")%></small>
</div>
<br>
<br>
<% end %>